.home-page {
    background-color: #0f1519;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page .overlap-group-wrapper {
    background-color: var(--x-0f-15-1a);
    overflow: hidden;
    width: 1920px;
    height: 1254px;
  }
  
  .home-page .overlap-group {
    position: relative;
    width: 2465px;
    height: 1916px;
    top: -407px;
    left: -103px;
  }
  
  .home-page .clip-path-group {
    position: absolute;
    width: 1920px;
    height: 1254px;
    top: 407px;
    left: 103px;
  }
  
  .home-page .ellipse {
    position: absolute;
    width: 412px;
    height: 816px;
    top: 133px;
    left: 687px;
    background-color: #0f151a;
    border-radius: 206.16px/408.2px;
    transform: rotate(85.73deg);
    filter: blur(179px);
  }
  
  .home-page .div {
    position: absolute;
    width: 412px;
    height: 816px;
    top: 236px;
    left: 1718px;
    background-color: #0f151a;
    border-radius: 206.16px/408.2px;
    transform: rotate(140.35deg);
    filter: blur(179px);
  }
  
  .home-page .ellipse-2 {
    position: absolute;
    width: 412px;
    height: 816px;
    top: 503px;
    left: 768px;
    background-color: #0f151a;
    border-radius: 206.16px/408.2px;
    transform: rotate(101.81deg);
    filter: blur(179px);
  }
  
  .home-page .ellipse-3 {
    position: absolute;
    width: 412px;
    height: 816px;
    top: 1222px;
    left: 591px;
    background-color: #0f151a;
    border-radius: 206.16px/408.2px;
    transform: rotate(101.81deg);
    filter: blur(179px);
  }
  
  .home-page .ellipse-4 {
    position: absolute;
    width: 412px;
    height: 816px;
    top: 956px;
    left: 754px;
    background-color: #0f151a;
    border-radius: 206.16px/408.2px;
    transform: rotate(101.81deg);
    filter: blur(179px);
  }
  
  .home-page .ellipse-5 {
    position: absolute;
    width: 412px;
    height: 1066px;
    top: 954px;
    left: 1489px;
    background-color: #0f151a;
    border-radius: 206.16px/533.17px;
    transform: rotate(75.43deg);
    filter: blur(179px);
  }
  
  .home-page .ellipse-6 {
    position: absolute;
    width: 412px;
    height: 1066px;
    top: 496px;
    left: 1691px;
    background-color: #0f151a;
    border-radius: 206.16px/533.17px;
    transform: rotate(75.43deg);
    filter: blur(179px);
  }
  
  .home-page .rectangle {
    width: 760px;
    height: 1512px;
    left: 1101px;
    border-radius: 0px 0px 140px 140px;
    filter: blur(81px);
    background: linear-gradient(
      180deg,
      rgba(244.72, 62.54, 160.52, 0) 0%,
      rgba(244.72, 62.54, 160.52, 0.08) 9.96%,
      rgba(244.72, 62.54, 160.52, 0.11) 16.37%,
      rgba(244.72, 62.54, 160.52, 0.03) 24.42%,
      rgba(244.72, 62.54, 160.52, 0.09) 33.04%,
      rgba(244.72, 62.54, 160.52, 0.12) 38.72%,
      rgba(244.72, 62.54, 160.52, 0.02) 40.71%,
      rgba(244.72, 62.54, 160.52, 0.11) 50.78%,
      rgba(244.72, 62.54, 160.52, 0.03) 60.6%,
      rgba(244.72, 62.54, 160.52, 0.08) 69.9%,
      rgba(244.72, 62.54, 160.52, 0.05) 75.19%,
      rgba(244.72, 62.54, 160.52, 0.08) 78.56%,
      rgba(244.72, 62.54, 160.52, 0.05) 84.87%,
      rgba(244.72, 62.54, 160.52, 0.1) 92.05%,
      rgba(244.72, 62.54, 160.52, 0) 100%
    );
    position: absolute;
    top: 0;
  }
  
  .home-page .rectangle-2 {
    width: 884px;
    height: 1517px;
    left: 1039px;
    border-radius: 0px 0px 200px 200px;
    border: 5px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.12)) 1;
    position: absolute;
    top: 0;
  }
  
  .home-page .ellipse-7 {
    position: absolute;
    width: 185px;
    height: 110px;
    top: 1445px;
    left: 227px;
    background-color: #00ecff99;
    border-radius: 92.5px/55px;
    filter: blur(320px);
  }
  
  .home-page .mask-group {
    position: absolute;
    width: 884px;
    height: 1105px;
    top: 407px;
    left: 1039px;
  }
  
  .home-page .text-wrapper {
    position: absolute;
    top: 721px;
    left: 263px;
    font-family: "Manrope", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 92px;
    letter-spacing: -1.84px;
    line-height: 110px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-2 {
    position: absolute;
    top: 721px;
    left: 665px;
    font-family: "Manrope", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 92px;
    letter-spacing: -1.84px;
    line-height: 110px;
    white-space: nowrap;
  }
  
  .home-page .tried-night-bl {
    position: absolute;
    width: 685px;
    top: 831px;
    left: 263px;
    font-family: "Manrope", Helvetica;
    font-weight: 600;
    color: var(--ffffff);
    font-size: 92px;
    letter-spacing: -1.84px;
    line-height: 110px;
  }
  
  .home-page .text-wrapper-3 {
    position: absolute;
    top: 939px;
    left: 439px;
    font-family: "Manrope", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 92px;
    letter-spacing: -1.84px;
    line-height: 110px;
    white-space: nowrap;
  }
  
  .home-page .o {
    position: absolute;
    width: 120px;
    height: 52px;
    top: 761px;
    left: 545px;
  }
  
  .home-page .img {
    position: absolute;
    width: 90px;
    height: 52px;
    top: 980px;
    left: 344px;
  }
  
  .home-page .frame {
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 24px;
    top: 633px;
    left: 263px;
    background-color: #f43ea00d;
    border-radius: 12px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Manrope", Helvetica;
    font-weight: 600;
    color: #f43ea0;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .div-wrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 32px 48px;
    top: 1382px;
    left: 263px;
    background-color: var(--x-0-0ecff);
    border-radius: 65px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-shadow: 0px 4px 6px #066a74b2;
    font-family: "Manrope", Helvetica;
    font-weight: 700;
    color: #0f151a;
    font-size: 24px;
    letter-spacing: 1.44px;
    line-height: normal;
  }
  
  .home-page .group {
    position: absolute;
    width: 660px;
    height: 240px;
    top: 1090px;
    left: 263px;
    background-color: #f43ea00d;
    border-radius: 32px;
    backdrop-filter: blur(8px) brightness(100%);
    -webkit-backdrop-filter: blur(8px) brightness(100%);
  }
  
  .home-page .frame-2 {
    align-items: center;
    gap: 16px;
    top: 40px;
    left: 40px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .img-wrapper {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #f43ea0;
    border-radius: 16px;
  }
  
  .home-page .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
  }
  
  .home-page .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Manrope", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: normal;
  }
  
  .home-page .frame-3 {
    align-items: center;
    gap: 16px;
    top: 40px;
    left: 333px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .frame-4 {
    align-items: center;
    gap: 16px;
    top: 136px;
    left: 40px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .frame-5 {
    align-items: center;
    gap: 16px;
    top: 136px;
    left: 333px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .frame-6 {
    position: absolute;
    width: 70px;
    height: 94px;
    top: 459px;
    left: 1028px;
  }
  
  .home-page .frame-7 {
    align-items: flex-start;
    gap: 52px;
    top: 493px;
    left: 263px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Manrope", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .frame-8 {
    align-items: flex-start;
    gap: 52px;
    top: 493px;
    left: 1536px;
    display: inline-flex;
    position: absolute;
  }
  
  .home-page .text-wrapper-8 {
    position: absolute;
    top: 1413px;
    left: 602px;
    text-shadow: 0px 4px 6px #066a74b2;
    font-family: "Manrope", Helvetica;
    font-weight: 700;
    color: #00ecff;
    font-size: 24px;
    letter-spacing: 1.44px;
    line-height: normal;
  }
  
  .home-page .group-2 {
    position: absolute;
    width: 131px;
    height: 25px;
    top: 1578px;
    left: 998px;
  }
  
  .home-page .mouse {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }
  
  .home-page .text-wrapper-9 {
    position: absolute;
    top: 0;
    left: 33px;
    font-family: "Manrope", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .ellipse-8 {
    position: absolute;
    width: 250px;
    height: 495px;
    top: 435px;
    left: 0;
    background-color: #f43ea0;
    border-radius: 125px/247.5px;
    filter: blur(749px);
  }
  
  .home-page .ellipse-9 {
    position: absolute;
    width: 250px;
    height: 495px;
    top: 1174px;
    left: 1810px;
    background-color: #8aa2d0;
    border-radius: 125px/247.5px;
    transform: rotate(29.29deg);
    filter: blur(749px);
  }
  